body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    .input_form {
        margin: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 30px;

        .input_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .input {
                width: 200px;
                border: 1px solid black;
                border-radius: 15px;
                padding: 10px;  
            }
        }

        .button {
            height: 30px;
            background-color: #4285F4;
            border: none;
            color: white;
            border-radius: 10px;

            &:hover {
                background-color: #458cff;
            }

            &:active {
                background-color: darkblue;
            }
        }
        

        .sort_button {
            height: 30px;
            background-color: #0F9D58;
            border: none;
            color: white;
            border-radius: 10px;

            &:hover {
                background-color: #15d075;
            }

            &:active {
                background-color: #0b7542;
            }
        }

        .select_sort_order {
            height: 30px;
            background-color: #d13030;
            border: none;
            color: white;
            border-radius: 10px;
        }
    }

    .todo_list {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;

        .new_todo {
            width: 300px;
            padding: 1em;
            border: 1px solid black;
            display: flex;
            overflow-wrap: break-word;
            flex-direction: column;
            justify-content: space-between;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            gap: 10px;

            .delete_button {
                height: 30px;
                background-color: #DB4437;
                border: none;
                color: white;

                &:hover {
                    background-color: #f34d3e;
                }

                &:active {
                    background-color: #b7392d;
                }
            }
        }
    }
}